.search {
    font-family:dinpro-bold,Arial,"Helvetica Neue",Helvetica,Tahoma,sans-serif;
    margin:10px 10px 10px 10px!important;
    padding:10px 5px 10px 5px !important;
    background-color: #eeeeee  !important;
    border-radius: 10px;
    min-width: 250px;
    width: 250px;
}
.body {
    font-family:dinpro-bold,Arial,"Helvetica Neue",Helvetica,Tahoma,sans-serif;
    margin:10px  10px  10px 10px  !important;
    padding:10px 5px 10px 5px !important;
    background-color: #eeeeee  !important;
    border-radius: 10px;
    /*min-width: 50%;*/
    min-height: 50%;
}

.pad{
    padding-left: 15px;
}

.padtop{
    padding-top: 10px;
}
.w240{
    width: 240px !important;
}

.tooltipText{
    font-size: 12px;
    color: #FFFFFF;
    background: #FFA500;
    background-color: #FFA500;
    border: #DDA300;
    border-color: #DDA300;
}

.tooltip-inner {
    background-color: #FFA500;
    color: #fff;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #FFA500;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #FFA500;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #FFA500;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #FFA500;
}

.wide{
    width: 100%
}

.btn-primary {
    background: #FFFFFF;
    color: #000000;
    font-weight: bold;
    border-color: #000000;
    width: 80px;
}




